body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#controls {
  margin: 10px;
}

#status {
  font-size: 24px;
  margin: 12px 0;
}

#game {
  position: relative;
  height: 100vh;
  background: green;
}

#character {
  position: absolute;
  bottom: 0;
  width: 80px; 
  transition: left 0.05s, bottom 0.05s;
  z-index: 100; 
}



#mobile-controls {
  position: relative;
  margin-top: 20px;
}

.control-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#footer-credit {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 18px;
  padding: 12px 0;
  z-index: 10;
}
